<h1><%= @area.name %></h1>
<p>Find me in app/views/areas/show.html.erb</p>

<% @escorts.each do |escort| %>
	<%= link_to escort_path(escort) do %><%= escort.name + ", " + escort.age %>
	<% end %>
	<%= link_to escort_path(escort) do %>
	<img src="<%= "http://escortdirectory-uk.com/" + escort.pictures.first %>", alt="<%= escort.name %>">
	<% end %>
<% end %>

